/* Reglas universales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

/* Estilos del header */
header,
footer {
    background: #222;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    z-index: 1;
}

header {
    position: relative;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.company {
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 0 10px;
}

.word:nth-child(1) {
    color: #39B24A;
    font-size: 1.5rem;
}

.word:nth-child(2) {
    color: #fff;
    font-size: 1.5rem;
}

.word:nth-child(3) {
    color: #FC200C;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.item-nav {
    color: #F3F3F3;
    text-decoration: none;
}

/* Estilos del main */
main {
    background: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 500px; */
    width: 100%;
}

/* Estilos de la card Delivery */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 8% 1%;
}

.card {
    background: #fff;
    border-radius: 5px;
    transition: 0.3s;
    flex-wrap: wrap;
    flex-shrink: 1;
    display: flex;
    width: 490px;
    height: 350px;
    padding: 20px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.delivery {
    background-image: url(../assets/delivery.jpeg);
    background-size: cover;
    background-position: center;
}

.promo {
    color: #FC200C;
    font-size: 1.5rem;
    font-weight: bold;
}

.verb {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Estilos de la card Podium */
.podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.name-podium {
    color: #FC200C;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.ranking {
    display: flex;
    place-content: center space-around;
    width: 100%;
}

.top-5 h3 {
    color: #222;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

ol li {
    color: #222;
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 10px;
}

.logo img {
    height: 80px;
    width: 92px;
}

.pizza img {
    border-radius: 5px;
    margin-top: 45px;
    height: 129px;
    width: 92px;
}

/* Estilos del footer */
footer {
    flex-direction: row-reverse;
    padding: 19px 42px 19px 20px;
    height: fit-content;
}

footer nav ul {
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
}

footer nav ul li {
    margin: 6px 0;
}

footer li:nth-child(1) {
    order: 1;
}

footer li:nth-child(2) {
    order: 3;
}

footer li:nth-child(3) {
    order: 4;
}

footer li:nth-child(4) {
    order: 2;
}